[job]
system = [ "nnodes.job", "Traverse",]
name = "Database maker"
nnodes = 8
account = "GEO111"
walltime = 480.0
gap = 50.0
debug = true

[root]
task = [ "workflow", "main",]
workflowname = "Making a database right now, yeaah!"
db = "/scratch/gpfs/lsawade/SpecfemMagicGF/DB"
station_file = "stations.txt"
creation = true
simulation = true
processing = true
clear = false

[root.cfg]
specfemdir = "/scratch/gpfs/lsawade/SpecfemMagicGF/specfem3d_globe"
par_file = "/scratch/gpfs/lsawade/SpecfemMagicGF/Par_file"
target_file = "GF_LOCATIONS"
target_latitude = 35.03
target_longitude = 26.85
target_depth = 24.0
element_buffer = 1
t0 = 0.0
tc = 200.0
duration_in_min = 240.0
ndt = 4.0
lpfilter = "butter"
subsample = true
force_factor = 10000000000.0
forward_test = false
cmtsolutionfile = "CMTSOLUTION"
broadcast_mesh_model = false
simultaneous_runs = false
overwrite = false

[root.processparams]
precision = "half"
compression = "None"
