.DS_Store
dependencies
__pycache__
*.egg-info
build
*.pdf
*.png
scripts/TURKEY/DATA/data
scripts/DATA/ne_50m_land
docs/build
.ipynb_checkpoints
data
.vscode
_build
docs/source/examples
writetest
examples/extraction/database/temp_subset.h5
examples/extras/GF_LOCATIONS
examples/extras/stations_gcmt.txt
scripts/DATA
scripts/*.pkl
scripts/*.html
tempDB
OUTSEIS
OUTPUT
dbfiles
client
*.ndk
*.pkl
*.txt
